@font-face {
    src: url(/test-site/style/)
}

body {
    background-image: url("../image/tom-barrett-hgGplX3PFBg-unsplash.jpg");
    background-size: cover;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
}

.text {
    color: white;
}

.btn {
    padding: 5px 10px;
    background: white;
    border: none;
    border-radius: 5px;
    font-family: inherit; /* or use the specific font name propertiy as in Orbitron. */
}

.cta {
    border-bottom: 3px solid white;

}